@model InfraStructure.ViewModels.LoginVm

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@{
    ViewData["Title"] = "Login";
}


<div class="row" style="margin-top:10%">
    @* <h4 style="justify-content:center;pad:auto">Wellcome to Quiz App</h4>*@
    <div class="col-md-4 mx-auto" style="border:2px solid white;border-radius:3%;padding:2% 2%">
        <h3 class="text-center">Login</h3>
        @*<form asp-action="Login" asp-controller="Login" method="post">*@
        @using (Html.BeginForm("StudentLogin", "Login", FormMethod.Post))
        {

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
                <p style="color:red">@ViewBag.errorMessage</p>
            </div>
            <hr />
            <div class="form-group">
                @*<a type="submit" asp-action="Login" asp-controller="Login" class="btn btn-outline-dark">Login</a>*@
                <input type="submit" value="Login" class="btn btn-outline-dark" />
            </div>
        }
        @* </form>*@
    </div>
</div>