@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

@{
    ViewData["Title"] = "Student Dashboard";
}


<div class="text-center">
    <h1 class="display-4">Welcome @TempData["Username"]</h1>
</div>