@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin:10% 0">

    <div class="col-md-8 mx-auto" style="border:10px solid yellow;border-radius:25%;padding:10% 0%">
        <h1 class="display-4 text-center">Welcome to QuizApp</h1>
        <div class="text-center">
            <a asp-action="AdminLogin" asp-controller="Login" class="btn btn-outline-dark">Admin Login</a>
            <a asp-action="StudentLogin" asp-controller="Login" class="btn btn-outline-dark">Student Login</a>
       </div>
    </div>

</div>
