@model InfraStructure.ViewModels.CategoryCreateVm

@{
    ViewData["Title"] = "CategoryCreate";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Create Category</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CategoryCreate" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
               @* <input asp-for="Description" class="form-control" id="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>*@

                @Html.TextAreaFor(model => model.Description, new { @class = "form-control Description", @row = 5 })

            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>

        $(function () {

            $('.Description').summernote();
           
        });

    </script>
}


